<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <title>Skill Inventory</title>
</head>
<body>
  <%= yield %>
</body>
</html>
