<form action="/skills"  method="post">
  <h1>Enter a new skill:</h1>
  <h2>Skill:<br><input type='text' name='skill[name]'/><br/></h2>
  <h2>Status:<br><textarea name='skill[status]' rows='20' columns='40'></textarea><br/></h2>
  <input class="btn btn-primary" type='submit' value="submit"/>
</form>
